mqtt_hostname='localhost' # CHANGE ME - hostname/IP address of the MQTT server to publish messages to
mqtt_port='8884'
mqtt_username='yourUsernameHere'
mqtt_password='yourPasswordHere'
mqtt_sensor_topic='hdemissions/sensor' # appended with /deployment_id/sensor_id
deployment_id='2'

alpr_sensor_id="1302"
alpr_metric_id="1302"