[Unit]
Description=start HTTP camera
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ALPR/camera/ipcam.py
WorkingDirectory=/home/picam2
Restart=always
User=picam2

[Install]
WantedBy=multi-user.target